# Logs
logs
*.log
npm-debug.log*

# Intellij
.idea/*
!/.idea/runConfigurations
auditLogUI.iml

# Dependency directories
client/node_modules/

# Build
dist/
build/
out/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

reports/**
coverage/

# 'Cause I'm sick of deleting it
package-lock.json

#gradle
.gradle

proxy/src/main/resources/static